/* Import fonts from Google Fonts */
@import url("https://fonts.googleapis.com/css2?family=Barlow+Condensed:wght@100;200;300;400;500;600;700;800;900&family=Montserrat:wght@100;200;300;400;500;600;700;800;900&display=swap");

/* Set global color variables */
:root {
  --background-color: #110644;
  --primary-accent-color: #d50a84;
  --primary-accent-color-darker: #f127a0;
  --text-color: #fbfcfd;
  --secondary-accent-color-1: #1c1c1c;
  --secondary-accent-color-2: #41484e;
}

/* Set font for Headings */
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Barlow Condensed", sans-serif;
}

/* Set font and styles for Body */
body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  height: 100vh;
  font-family: "Montserrat", sans-serif;
  line-height: 1.5rem;
  background: var(--background-color);
  color: var(--text-color);
}

/* Set styles for Nav */
nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 8.6vh;
  padding: 0 3.125rem;
  font-weight: 500;
}

nav h1 {
  color: var(--primary-accent-color);
}

nav h1 span {
  color: var(--text-color);
}

nav ul {
  display: flex;
  padding: 0;
}

nav ul li {
  list-style-type: none;
}

nav ul li a {
  text-decoration: none;
  color: var(--text-color);
  font-size: 1rem;
  transition: color 0.2s ease;
  margin-right: 1.5625rem;
}

nav ul li:hover a {
  color: var(--primary-accent-color);
}

.contact-button {
  border: none;
  background: var(--primary-accent-color);
  padding: 0.375rem 1.875rem;
  border-radius: 0.375rem;
  font-size: 1rem;
  cursor: pointer;
  transition: var(--background-color) 0.2s ease;
  color: var(--text-color);
  font-weight: 600;
}

.contact-button:hover {
  background-color: var(--primary-accent-color-darker);
}

/* Set styles for Main content */
main {
  height: 40rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

main h2,
main h3,
main h4 {
  font-weight: 400;
}

main h2 {
  font-size: 3rem;
}

main h2 span {
  text-decoration: underline;
  color: var(--primary-accent-color);
}

main h3 {
  font-size: 2.5rem;
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
}

main h4 {
  font-size: 2rem;
  margin-top: 4rem;
  margin-bottom: 2rem;
}

main img {
  width: 20rem;
  height: 20rem;
  margin-top: 2rem;
}

/* Set styles for Social Proof Section */
article.social-proof-section {
  display: flex;
  margin-top: 3rem;
  padding: 0 3rem;
  gap: 1.5rem;
  flex-flow: nowrap;
}

article.social-proof-section .card {
  background-color: var(--primary-accent-color);
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 10rem;
  width: 100%;
  border-radius: 0.625rem;
  cursor: pointer;
  padding: 0 1.875rem;
  border: 1px solid transparent;
  transition: all 0.2s ease;
}

article.social-proof-section .card:hover {
  border-color: var(--primary-accent-color-darker);
}

article.social-proof-section .card .info h5 {
  font-size: 1.5rem;
}

article.social-proof-section .card .info p {
  font-size: 1rem;
}

article.social-proof-section .icon {
  width: 2.875rem;
  height: 2.875rem;
  background-color: var(--background-color);
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: background-color 0.2s ease;
}

article.social-proof-section .icon i {
  font-size: 2rem;
}
